services:
  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
      - flutterweb
    networks:
      - app-network

  backend:
    build:
      context: ./gobackend
      dockerfile: Dockerfile
    expose:
      - "8080"
    env_file:
      - ./gobackend/.env
    networks:
      - app-network

  flutterweb:
    build:
      context: ./flutter_app
      dockerfile: Dockerfile
      args:
        - BUILDKIT_INLINE_CACHE=1
    expose:
      - "80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
